@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");

/*
 * Base styles
 */

.bg-primary-color {
  background-color: var(--primary-color);
}

.text-primary-color {
  color: var(--primary-color);
}

.text-primary-color-dark {
  color: var(--primary-color-dark);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.border-primary-color {
  border-color: var(--primary-color);
}

.border-secondary-color {
  border-color: var(--secondary-color);
}

.border-1 {
  border-width: 1px;
}

.bg-whatsapp-color {
  background-color: var(--whatsapp-color);
}

.bg-primary-color-dark {
  background-color: var(--primary-color-dark);
}

.font-montserrat {
  font-family: "Montserrat", serif;
}

:root {
  --primary-color: #263b7f;
  --primary-color-dark: #192a51;
  --secondary-color: #f15727;
  --whatsapp-color: #25d366;
}
